<div class="container mt-5">
  <h1 class="p-3 text-center">Gestion papeletas de internacion</h1>
  <app-formulario-filtrado-documentos
    [documentos]="listadoPapeletasInternacion"
    [documentosAux]="listadoPapeletasInternacionAux"
    (documentosEvent)="handlePapeletasInternacion($event)"
  ></app-formulario-filtrado-documentos>
  <button
    class="btn btn-success-hospital"
    routerLink="/medico/registro-papeleta-internacion"
  >
    Registrar papeleta internacion
  </button>
  <app-listado-documentos [documentos]="listadoPapeletasInternacion" tipoDocumento="Papeleta de internacion" [actualizarDocumento]="actualizarPapeletaInternacion" [verDetalleDocumento]="verDetallePapeletaInternacion"></app-listado-documentos>
</div>
