.carousel{
    width: 100%;
}
.especialidades-requisitos{
    width: 100%;
    height: auto;
    background-color: var(--color4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color1);
    padding: 4rem 4rem 0 4rem;
    gap: 10px;
}
.carousel-inner{
    height: 300px;
}
@media screen and (min-width:1280px){
    .carousel-inner{
        display: flex;
    }
    .carousel-item{
        display: block;
        margin-right: 0;
        flex: 0 0 calc(100%/4);
    }
}
@media screen and (min-width:414px) and (max-width: 1279px){
    .carousel-inner{
        display: flex;
    }
    .carousel-item{
        display: block;
        margin-right: 0;
        flex: 0 0 calc(100%/3);
    }
    .carousel-inner{
        height: 200px;
    }
}
@media screen and (max-width:413px){
    .carousel-inner{
        height: 200px;
    }
    .especialidades-requisitos{
        padding: 2rem 2rem 0 2rem;
    }
    .carousel-inner{
        display: flex;
    }
    .carousel-item{
        display: block;
        margin-right: 0;
        flex: 0 0 calc(100%);
    }
}
