<div class="container mt-5">
    <h1 class="text-center text-white bg-primary p-3">Gestion de fichas medicas</h1>

    <ul class="list-group">
      <li *ngFor="let item of items; let i = index" [class.bg-dark]="i % 2 === 0" [class.text-white]="i % 2 === 0" class="list-group-item d-flex justify-content-between align-items-center">
        {{ item }}
        <div>
          <i class="fas fa-edit text-primary me-2" (click)="editItem(item)"></i>
          <i class="fas fa-trash text-danger" (click)="deleteItem(item)"></i>
        </div>
      </li>
    </ul>
  </div>
  