<nav id="navbar-contenedor" class="navbar navbar-expand-lg py-4">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarScroll"
        aria-controls="navbarScroll"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fa-solid fa-bars" style="color: #fff"></i>
      </button>
      <div class="navbar-collapse justify-content-center align-items-center collapse" id="navbarScroll">
        <ul class="navbar-nav my-2 my-lg-0 navbar-nav-scroll">
          <li class="nav-item">
            <a class="nav-link single-line" aria-current="page" routerLink="/"
              >Inicio</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link single-line" aria-current="page" routerLink="especialidades-atencion"
              >Especialidades</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link single-line" aria-current="page" routerLink="medicos-especialistas"
              >Equipo medico</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link single-line" aria-current="page" routerLink="horarios-atencion"
              >Horarios de atencion</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link single-line" aria-current="page" routerLink="comunicados"
              >Comunicados</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link single-line" aria-current="page" routerLink="proceso-inscripcion"
              >Admisiones</a
            >
          </li>
          <li *ngIf="estaLogeado" class="nav-item" routerLink="/menu">
            <a class="nav-link single-line" aria-current="page" routerLink="/"
              >Menu</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex ver-mas" aria-current="page" routerLink="/">
                Mas
                <i class="fas fa-chevron-down text-white me-2"></i>
            </a>
          </li>
          <button
            *ngIf="!estaLogeado"
            class="btn btn-success-hospital"
            routerLink="/login"
          >
            Iniciar sesion
          </button>
          <button *ngIf="estaLogeado" (click)="logout()" class="btn btn-info">
            Cerrar sesion
          </button>
        </ul>
       
      </div>
    </div>
  </nav>