#navbar-contenedor{
    background-color: var(--color4);
    color: var(--color1);
}
.nav-link{
    color: var(--color1);
}
.ver-mas{
    display: flex;
    justify-content: center;
    align-items: center;
}
.single-line{
    white-space: nowrap;
}