.speciality-card {
    height: 400px;
    overflow: hidden;
    position: relative;
    font-size: 24px;
}

.speciality-card img{
    width: 100%;
    
}

.content {
    padding: 50px 0px;
    background: #0a4a6e94;
    color: white;
    top: 40%;
    height: 60%;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
}