.contenedor-descripcion-medico {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
}

.medico {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 10%;
}

.contenedor-imagen {
    height: 400px;
    min-height: 200px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
}

.contenedor-imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.datos {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.datos-medico,
.datos-atencion {
    height: fit-content;
    width: 100%;
}

.datos-medico {
    background-color: var(--color4);
    color: var(--color1);
    padding: 1rem;

}

.nombre-apellido {
    font-size: var(--titulo1) !important;
}
.datos-atencion p{
    margin: 0;
    color: var(--color4);
}
.datos-atencion .tipo-dato {
    font-weight: bold;
    margin: 10px 0px;
}
.table{
    margin: 3rem;
}

@media (max-width:414px) {
    .contenedor-descripcion-medico {
        padding: 20px;
    }

    .medico {
        display: flex;
        flex-direction: column;
    }

    .contenedor-imagen {
        width: 100%;
        height: min-content;
    }

    .datos {
        width: 100%;
    }
    .table{
        margin: 0;
        margin-top: 3rem;
    }
}
@media (min-width:415px) and (max-width:1280px){
    .medico{
        width: 100%;
        margin: 0;
    }
    .table{
        margin: 0;
        margin-top: 3rem;
    }
}