.contenedor-medico-especialista{
    background-color: white;
    padding: 10px;
}
.contenedor-img-medico-especialista{
    height: fit-content;
    overflow-y: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px;
}
.img-medico-especialista{
    width: 100%;
}
.datos-medico-especialista{
    height: 200px;
    border-radius: 20px;
    background-color: var(--color4);
    color: var(--color1);
    padding: 5px;
    padding: 10px;
}
.datos-medico-especialista .nombre-completo{
    text-align: center;
}
.datos-medico-especialista .descripcion{
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-align: left;
}