<ul class="list-group">
  <li
    *ngFor="let dato of documentos; let i = index"
    [class.bg-color-blue-hospital]="i % 2 === 0"
    [class.text-white]="i % 2 === 0"
    class="d-flex align-items-center"
  >
    <div
      class="img-doc"
      [class.bg-img-doc-1]="i % 2 == 0"
      [class.bg-img-doc-2]="i % 2 != 0"
    ></div>
    <div class="datos-opciones-doc">
      <div class="dato-info">
        <p>{{ tipoDocumento }} {{ dato.id }}</p>
        <p>Fecha creacion: {{ dato.createdAt | dateFormat : "dd-MM-yyyy" }}</p>
        <p>
          Fecha actualizacion: {{ dato.updatedAt | dateFormat : "dd-MM-yyyy" }}
        </p>

        <p *ngIf="dato.idHistoriaClinica">
          Historia clinica: {{ dato.idHistoriaClinica }}
          <i
            class="fas fa-share-square"
            (click)="verDetalleHistoriaClinica(dato.idHistoriaClinica)"
          ></i>
        </p>
        <p>Paciente propietario: {{ dato.pacientePropietario }}</p>
        <p>CI paciente propietario: {{ dato.ciPropietario }}<br /></p>
      </div>
      <div class="botones-opciones">
        <i *ngIf="actualizarDocumento" class="fas fa-edit me-2" (click)="actualizarDocumento(dato.id)"></i>
        <i
          class="fas fa-chevron-right me-2"
          (click)="verDetalleDocumento(dato.id)"
        ></i>
      </div>
    </div>
  </li>
</ul>
