<div class="container mt-5">
    <h1 class="p-3">Gestion examenes complementarios</h1>
    <app-formulario-filtrado-documentos [documentos]="listadoExamenesComplementarios" (documentosEvent)="handleExamenesComplementarios($event)"></app-formulario-filtrado-documentos>
    <button
    class="btn btn-success-hospital"
    routerLink="/medico/registro-examen-complementario"
  >
    Registrar examen complementario
  </button>
  <app-listado-documentos [documentos]="listadoExamenesComplementarios" tipoDocumento="Examen complementario" [actualizarDocumento]="actualizarExamenComplementario" [verDetalleDocumento]="verDetalleExamenComplementario"></app-listado-documentos>
</div>