<div class="container mt-5">
    <h1 class="text-center p-3">Detalle de Papeleta de internacion</h1>
    <form [formGroup]="papeletaInternacionForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="diagnostico">Diagnostico</label>
            <textarea 
                id="diagnostico" 
                formControlName="diagnostico" 
                class="form-control" 
            ></textarea>
        </div>
        <div class="form-group">
            <label for="fechaIngreso">Fecha de Ingreso</label>
            <input 
                id="fechaIngreso" 
                type="date" 
                formControlName="fechaIngreso" 
                class="form-control" 
                [value]="papeletaInternacionForm.get('fechaIngreso')?.value | date:'yyyy-MM-dd'"

            />
        </div>
        <app-input-historia-clinica-formulario-documentos-expediente
            [idPaciente]="papeletaInternacionForm.get('idPaciente')?.value"
            [ciPaciente]="papeletaInternacionForm.get('ciPaciente')?.value"
            [idHistoriaClinica]="papeletaInternacionForm.get('idHistoriaClinica')?.value"
            [diagnosticoPresuntivo]="papeletaInternacionForm.get('diagnosticoPresuntivo')?.value"
            (idHistoriaClinicaEvent)="handleIdHistoriaClinica($event)"
        >
        </app-input-historia-clinica-formulario-documentos-expediente>
        <button
            class="btn btn-success-hospital "
            type="submit"
        >
            Actualizar
        </button>
    </form>
 </div>     