<div class="contenedor-proceso-inscripcion">
  <div class="banner-proceso-inscripcion">
    <div class="descripcion-proceso-inscripcion">
      <h1>Proceso de inscripcion</h1>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to
      </p>
    </div>
    <div class="img-proceso-inscripcion">
      <img src="../../../assets/images/banner-proceso-inscripcion.png" alt="" />
    </div>
  </div>
  <div class="proceso-inscripcion">
    <h2>Pasos procedimiento de inscripcion</h2>
    <div class="pasos-proceso-inscripcion">
      <app-card-paso-procedimiento *ngFor="let pasoProcedimiento of listadoProcedimientoPasos" [pasoProcedimiento]="pasoProcedimiento"/>
    </div>
  </div>
  <div class="proceso-inscripcion">
    <h2>Requisitos inscripcion</h2>
    <div class="pasos-proceso-inscripcion">
      <app-card-requisito-procedimiento *ngFor="let requisito of listadoRequisitos" [requisito]="requisito"/>
    </div>
  </div>
  <div class="contactos-proceso-inscripcion">
    <h4>Contactanos</h4>
    <div class="enlaces-contactos">
      <app-whatsapp/>
      <app-icono-facebook/>
      <app-icono-mail/>
    </div>
  </div>
</div>
