.container {
    background-color: #007bff;
    padding: 20px;
    border-radius: 8px;
  }
  
  .card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .card-body {
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  h1 {
    border-radius: 5px;
  }
  
  .bg-dark.bg-opacity-75 {
    background-color: rgba(52, 58, 64, 0.75);
  }