#img-doctor{
    background-image: url("../../../assets/images/doctor-home.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    min-height: 200px;
    height: 100%;
}
#div-texto-banner{
    height: fit-content;
    padding: 10px 10%;
    align-content: center;
}

#div-texto-banner .titulo-banner{
    font-size: var(--titulo-banner);
    color: var(--color4);
    font-weight: bold;
}

#div-texto-banner .sub-titulo-banner{
    font-size: var(--texto-banner);
    font-weight: bold;
}
#banner-home{
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 600px;
    min-height: fit-content;
}
@media (max-width:1280px){
    #img-doctor,#banner-home{
        height: min-content;
    }
}