<div id="div-home">
  <div class="row" id="banner-home">
    <div class="col-md-6 mb-6" id="div-texto-banner">
      <div class="titulo-banner">Cuidando tu salud construyendo un futuro saludable</div><br>
      <div class="sub-titulo-banner">Atencion medica de calidad al alcance de todos !Tu bienestar es nuestra prioridad!</div>
    </div>
    <div id="img-doctor" class="col-md-6 mb-6"></div>
  </div>
  <app-especialidades-atencion/>
  <app-especialidades-atencion/>

  <!-- <app-carousel-medicos-especialistas/> -->
</div>