<div class="container mt-5">
    <h1 class="text-center p-3">Mis notas de referencia</h1>

    <ul class="list-group">
        <li *ngFor="let item of notasReferencia; let i = index" [class.bg-color-blue-hospital]="i % 2 === 0" [class.text-white]="i % 2 === 0" class="p-3 list-group-item d-flex justify-content-between align-items-center">
        <p class="dato-info">
            Nota de referencia {{ item.idNotaReferencia }}<br/>
            Fecha creacion: {{ item.createdAt }} <br/>
            Fecha actualizacion: {{ item.updatedAt }}<br/>
            Historia clinica: {{ item.idHistoriaClinica }}<br/>
            Paciente propietario: {{ item.pacientePropietario }}<br/>
        </p>
        <div class="botones-opciones">
            <i class="fas fa-chevron-right me-2" (click)="verDetalle(item.idHistoriaClinica)"></i>
        </div>
        </li>
      </ul>
  </div>
  