<div class="container mt-5">
    <h1 class="text-center p-3">Gestion turnos de atencion medica</h1>
    <button
      class="btn btn-success-hospital"
      routerLink="/administrador/registro-turno-atencion"
    >
      Registrar turno atencion medica
    </button>
    <ul class="list-group">
        <li *ngFor="let dato of turnosAtencionMedica; let i = index" [class.bg-color-blue-hospital]="i % 2 === 0" [class.text-white]="i % 2 === 0" class="p-3 list-group-item d-flex justify-content-between align-items-center">
          <p class="dato-info">
            Consultorio: {{ dato[1] }} <br/>
            Turno: {{ dato[2] }}<br/>
            Medico: {{ dato[3] }}<br/>
            Especialidad: {{ dato[4] }}<br/>
            Fecha: {{ dato[5] }}<br/>
          </p>
          <div class="botones-opciones">
            <i class="fas fa-edit me-2" (click)="editarDato(dato[0])"></i>
            <i class="fas fa-trash me-2" (click)="eliminarDato(dato[0])"></i>
          </div>
        </li>
      </ul>
  </div>