<div class="container mt-5">
  <h1 class="p-3">Gestion notas de evolucion</h1>
  <app-formulario-filtrado-documentos
    [documentos]="notasEvolucion"
    (documentosEvent)="handleDocumentos($event)"
  />
  <button
    class="btn btn-success-hospital"
    routerLink="/medico/registro-nota-evolucion"
  >
    Registrar nota de evolucion
  </button>
  <app-listado-documentos
    [documentos]="notasEvolucion"
    tipoDocumento="Nota de evolucion"
    [actualizarDocumento]="editarDato"
    [verDetalleDocumento]="verDetalles"
  />
</div>
