<div class="container mt-5">
    <h1 class="text-center p-3">Gestion notas de evolucion</h1>
    <button
      class="btn btn-success-hospital"
      routerLink="/medico/registro-nota-evolucion"
    >
      Registrar nota de evolucion
    </button>
    <div class="mb-3">
      Buscar por fecha
      <input
        type="date"
        class="form-control border-dark"
        id="fecha"
        [(ngModel)]="fecha"
        (change)="filtrarNotasEvolucion($event)"
      />
    </div>
    <div class="mb-3">
      Buscar por CI
      <input
        type="text"
        class="form-control border-dark"
        id="fecha"
        [(ngModel)]="ciPaciente"
        (ngModelChange)="filtrarNotasEvolucion($event)"
      />
    </div>
    <ul class="list-group">
        <li *ngFor="let dato of notasEvolucionAux; let i = index" [class.bg-color-blue-hospital]="i % 2 === 0" [class.text-white]="i % 2 === 0" class="p-3 list-group-item d-flex justify-content-between align-items-center">
          <p class="dato-info">
            Nota de evolucion {{ dato.idNotaEvolucion }}<br/>
            Fecha creacion: {{ dato.createdAt }} <br/>
            Fecha actualizacion: {{ dato.updatedAt }}<br/>
            Historia clinica: {{ dato.idHistoriaClinica }} <i class="fas fa-share-square" (click)="verDetalleHistoriaClinica(dato.idHistoriaClinica)"></i><br/>
            Paciente propietario: {{ dato.pacientePropietario }}<br/>
            CI paciente propietario: {{ dato.ciPropietario }}<br/>
          
          </p>
          <div class="botones-opciones">
            <i class="fas fa-edit me-2" (click)="editarDato(dato.idNotaEvolucion)"></i>
            <i class="fas fa-chevron-right me-2" (click)="verDetalles(dato.idNotaEvolucion)"></i>
          </div>
        </li>
      </ul>
  </div>