.container {
    background-color: #007bff;
  } 
.card {
  background-color: #ffffff;
}

.form-control {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #000000;
}
.div-fondo{
  background-color: var(--color2);
}
.form-login{
  width: 50%;
}
@media (min-width:481px) and (max-width:1279px){
  .form-login{
    width: 80%;
  }
}
@media (max-width:480px){
  .form-login{
    width: 100%;
  }
}