.paso-procedimiento{
    margin: 20px 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 300px;
    border-bottom: 2px solid black;
}
.paso-procedimiento-img{
    width: 35%;
    height: 100%;   
    display: flex;
    justify-content: center;
    align-items: center;
}
.paso-procedimiento-img img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: fill;
}
.paso-procedimiento-info{
    width: 65%;
    height: 100%;
    padding: 10px 10px 10px 40px;
}
.paso-procedimiento-info h3{
    margin: 10px 0px;
}
.paso-procedimiento-info p{
    overflow: scroll;
    height: 80%;
    padding: 10px;
    
}