<div class="contenedor-detalle-especialidad">
    <div class="especialidad">
        <div class="titulo">
            <img src="../../../assets/images/especialidades-descripcion.jpg" alt="">
            <h2>{{especialidad.nombre}}</h2>
        </div>
        <p>{{especialidad.descripcion}}</p>
    </div>
    <div class="requisitos-procedicimientos">
        <app-boton-tipo-background *ngFor="let requisitosProcedimiento of requisitosProcedimientosCards" [ruta]="requisitosProcedimiento.ruta+'/'+this.idEspecialidad" [titulo]="requisitosProcedimiento.titulo"/>
    </div>
    <app-carousel-medicos-especialistas/>
</div>