<div class="container mt-5">
    <h1 class="text-center p-3">Detalle de medico</h1>
    <form [formGroup]="formularioRegistroMedico" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="nombres" class="form-label">Nombres</label>
        <input type="text" class="form-control border-dark" id="nombres" formControlName="nombres" required>
      </div>
      <div class="mb-3">
        <label for="apellidoPaterno" class="form-label">Apellido paterno</label>
        <input type="text" class="form-control border-dark" id="apellidoPaterno" formControlName="apellidoPaterno" required>
      </div>
      <div class="mb-3">
        <label for="apellidoMaterno" class="form-label">Apellido materno</label>
        <input type="text" class="form-control border-dark" id="apellidoMaterno" formControlName="apellidoMaterno" required>
      </div>
      <div class="mb-3">
        <label for="ci" class="form-label">CI</label>
        <input type="text" class="form-control border-dark" id="ci" formControlName="ci" required>
      </div>
      <div class="mb-3">
        <label for="direccion" class="form-label">Direccion</label>
        <input type="text" class="form-control border-dark" id="direccion" formControlName="direccion" required>
      </div>
      <div class="mb-3">
        <label for="celular" class="form-label">Celular</label>
        <input type="tel" class="form-control border-dark" id="celular" formControlName="celular" required>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control border-dark" id="email" formControlName="email" required>
      </div>
      <div class="mb-3">
        <label for="anosExperiencia" class="form-label">Años de experiencia</label>
        <input type="number" class="form-control border-dark" id="anosExperiencia" formControlName="anosExperiencia" required>
      </div>
      <div class="mb-3">
        <label for="salario" class="form-label">Salario</label>
        <input type="number" class="form-control border-dark" id="salario" formControlName="salario" required>
      </div>
      <div class="mb-3">
        <label for="grupoSanguineo" class="form-label">Grupo sanguineo</label>
        <input type="text" class="form-control border-dark" id="grupoSanguineo" formControlName="grupoSanguineo" required>
      </div>
      <div class="mb-3">
        <label for="imagen" class="form-label">Imagen</label>
        <input
          type="file"
          class="form-control"
          id="imagen"
          (change)="onImageChange($event)"
          accept="image/*"
        />
      </div>
      
      <button
        class="btn btn-success-hospital "
        type="submit"
      >
        Registrar
      </button>
    </form>
    
     
      
 </div>     