<div class="section-medicos-especialistas">
  <h2>Medicos especialistas</h2>
  <div [id]="id" class="carousel" data-bs-ride="carousel">
    <div class="carousel-inner" id="carousel-inner-medicos-especialistas">
      <div
        class="carousel-item carousel-item-medicos-especialistas"
        *ngFor="let medicoEspecialista of listadoMedicosEspecialistas"
      >
        <app-card-medico-especialista
          [medicoEspecialista]="medicoEspecialista"
        />
      </div>
    </div>
    <button
      class="carousel-control-prev" id="carousel-medicos-especialistas-control-prev"
      type="button"
      data-bs-target="#carouselMedicosEspecialistas"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next" id="carousel-medicos-especialistas-control-next"
      type="button"
      data-bs-target="#carouselMedicosEspecialistas"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <button class="btn btn-success-hospital" routerLink="/medicos-especialistas">Ver mas</button>
</div>
