<div class="container mt-5">
    <h1 class="text-center p-3">Detalle de Examen Complementario</h1>
    <form [formGroup]="examenComplementarioForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input 
                id="nombre" 
                formControlName="nombre" 
                class="form-control" 
            />
        </div>
        <div class="form-group">
            <label for="descripcion">Descripción</label>
            <textarea 
                id="descripcion" 
                formControlName="descripcion" 
                class="form-control" 
            ></textarea>
        </div>
        <div class="form-group">
            <label for="resumenResultados">Resumen de Resultados</label>
            <textarea 
                id="resumenResultados" 
                formControlName="resumenResultados" 
                class="form-control" 
            ></textarea>
        </div>
        <div class="form-group">
            <label for="fechaResultado">Fecha de Resultado</label>
            <input 
                id="fechaResultado" 
                type="date" 
                formControlName="fechaResultado" 
                class="form-control" 
            />
        </div>
        <div class="form-group">
            <label for="fechaSolicitud">Fecha de Solicitud</label>
            <input 
                id="fechaSolicitud" 
                type="date" 
                formControlName="fechaSolicitud" 
                class="form-control" 
            />
        </div>
        <app-input-historia-clinica-formulario-documentos-expediente
            [idPaciente]="examenComplementarioForm.get('idPaciente')?.value"
            [ciPaciente]="examenComplementarioForm.get('ciPaciente')?.value"
            [idHistoriaClinica]="examenComplementarioForm.get('idHistoriaClinica')?.value"
            [diagnosticoPresuntivo]="examenComplementarioForm.get('diagnosticoPresuntivo')?.value"
            (idHistoriaClinicaEvent)="handleIdHistoriaClinica($event)"
        >
        </app-input-historia-clinica-formulario-documentos-expediente>
        <button
            class="btn btn-success-hospital "
            type="submit"
        >
            Actualizar
        </button>
    </form>
 </div>     