<div class="container mt-5">
    <h1 class="text-center p-3">Gestion comunicados</h1>
    <section id="buscador">
        <div class="row">
            <div class="col-md-6">
                <label for="nombreComunicado" class="form-label">Nombre comunicado</label>
                <input
                  type="text"
                  class="form-control input-border-bottom"
                  id="nombreComunicado"
                  [(ngModel)]="tituloComunicado"
                />
            </div>
        </div>
        <button
          class="btn btn-success-hospital"
          (click)="filtrarComunicados()"
        >
          Buscar
        </button>
    </section>
    <button
      class="btn btn-success-hospital"
      (click)="redireccionarRegistroComunicado()"
    >
      Registrar comunicado
    </button>
    <ul class="list-group">
        <app-elementos-listado *ngFor="let comunicado of comunicados;let i=index" [i]="i">
            <p ngProjectAs="dato-info">Id:{{comunicado?.idComunicado}}</p>
            <p ngProjectAs="dato-info">Titulo:{{comunicado?.titulo}}</p>
            <p ngProjectAs="dato-info">Fecha de creacion:{{comunicado.createdAt|dateFormat:"dd/MM/yyyy"}}</p>
            <p ngProjectAs="dato-info">Fecha de actualizacion:{{comunicado.updatedAt|dateFormat:"dd/MM/yyyy"}}</p>
            <i ngProjectAs="botones-crud" class="fas fa-edit me-2" (click)="redireccionarActualizarComunicado(comunicado.idComunicado)"></i>
            <i ngProjectAs="botones-crud" class="fas fa-trash me-2" (click)="eliminarComunicado(comunicado.idComunicado)"></i>
            <i ngProjectAs="botones-crud" class="fas fa-chevron-right me-2" (click)="redireccionarVerDetalleComunicado(comunicado.idComunicado)"></i>
        </app-elementos-listado>
    </ul>
  </div>