<section class="p-1" id="buscador">
    <div class="mb-3">
      <p class="mv-3">Buscar por rangos de fecha de creacion</p>
      <div class="row">
        <div class="col-md-6" *ngIf="esBusquedaAvanzada">
          <label for="fechaInicio" class="form-label">Fecha inicio</label>
          <input
            type="date"
            class="form-control input-border-bottom"
            id="fechaInicio"
            [(ngModel)]="fechaInicio"
          />
        </div>
        <div class="col-md-6" *ngIf="esBusquedaAvanzada">
          <label for="fechaFin" class="form-label">Fecha fin</label>
          <input
            type="date"
            class="form-control input-border-bottom"
            id="fechaFin"
            [(ngModel)]="fechaFin"
          />
        </div>
      </div>
    </div>
    <div class="mb-3">
      <div class="row">
        <div class="col-md-6">
          <label for="ciPaciente" class="form-label">CI paciente</label>
          <input
            type="text"
            class="form-control input-border-bottom"
            id="ciPaciente"
            [(ngModel)]="ciPaciente"
          />
        </div>
        <div class="col-md-6" *ngIf="esBusquedaAvanzada">
          <label for="nombrePaciente" class="form-label">Nombre paciente</label>
          <input
            type="text"
            class="form-control input-border-bottom"
            id="nombrePaciente"
            [(ngModel)]="nombrePaciente"
          />
        </div>
      </div>
    </div>
    <div class="mb-3">
      <div class="row">
        <div class="col-md-6" *ngIf="esBusquedaAvanzada">
          <label for="nombreMedico" class="form-label">Medico elaborador</label>
          <input
            type="text"
            class="form-control input-border-bottom"
            id="nombreMedico"
            [(ngModel)]="nombreMedico"
          />
        </div>
        <div class="col-md-6" *ngIf="esBusquedaAvanzada">
          <label for="nombreEspecialidad" class="form-label"
            >Especialidad</label
          >
          <input
            type="text"
            class="form-control input-border-bottom"
            id="nombreEspecialidad"
            [(ngModel)]="nombreEspecialidad"
          />
        </div>
      </div>
    </div>
    <div class="mb-3">
      <div class="row">
        <div class="col-md-6" *ngIf="esBusquedaAvanzada">
          <label for="diagnosticoPresuntivo" class="form-label"
            >Diagnostico presuntivo</label
          >
          <input
            type="text"
            class="form-control input-border-bottom"
            id="diagnosticoPresuntivo"
            [(ngModel)]="diagnosticoPresuntivo"
          />
        </div>
      </div>
      <a id="tipo-busqueda" (click)="cambiarTipoBusqueda()" *ngIf="!esBusquedaAvanzada">Busqueda avanzada</a>
      <a id="tipo-busqueda" (click)="cambiarTipoBusqueda()" *ngIf="esBusquedaAvanzada">Busqueda normal</a>
    </div>
    <button
      class="btn btn-success-hospital"
      (click)="filtrarNotasEvolucion()"
    >
      Buscar
    </button>
  </section>