<div class="container mt-5">
    <h1 class="text-center p-3">Gestion requisitos de procedimiento del elemento</h1>
    <h2 class="p-3">Requisitos de procedimiento del elemento</h2>

    <ul class="list-group">
        <app-elementos-listado *ngFor="let requisitoProcedimientoElemento of requisitosProcedimientoElemento;let i=index" [i]="i">
            <p ngProjectAs="dato-info">Requisito:{{requisitoProcedimientoElemento?.titulo}}</p>
            <i ngProjectAs="botones-crud" class="fas fa-trash me-2" (click)="eliminarRequisitoProcedimientoElemento(requisitoProcedimientoElemento.idRequisito,idProcedimiento,idElemento,tipoElemento)"></i>
        </app-elementos-listado>
    </ul>
    <h2 class="p-3">Requisitos del sistema</h2>
    <ul class="list-group">
        <app-elementos-listado *ngFor="let requisito of requisitos;let i=index" [i]="i">
            <p ngProjectAs="dato-info">Nombre:{{requisito?.titulo}}</p>
            <button class="btn btn-success-hospital" ngProjectAs="botones-adicionales" (click)="registrarRequisitoProcedimientoElemento(requisito.idRequisito,idProcedimiento,idElemento,tipoElemento)">Agregar requisito del procedimiento</button>
        </app-elementos-listado>
    </ul>
  </div>