
  .bg-white {
    background-color: #ffffff;
  }
  
  .list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .fa-edit, .fa-trash {
    cursor: pointer;
  }
  
  h1{
    color:var(--color4)
  }