<div>
    <div class="card text-center">
        <div class="card-body p-0 d-flex justify-content-center align-items-center">
          <div class="card-body-fondo-negro">
            <p><strong>Codigo ficha medica:</strong>{{fichaMedicaDetalle[0]}}</p><br>
            <p><strong>Numero de ficha medica:</strong>{{fichaMedicaDetalle[1]}}</p><br>
            <p><strong>Consultorio:</strong>{{fichaMedicaDetalle[2]}}</p><br>
            <p><strong>Turno:</strong>{{fichaMedicaDetalle[3]}}</p><br>
            <p><strong>Medico:</strong>{{fichaMedicaDetalle[4]}}</p><br>
            <p><strong>Especialidad:</strong>{{fichaMedicaDetalle[5]}}</p><br>  
          </div>
        </div>
      </div>
</div>