<div class="container mt-5">
    <h1 class="text-center p-3">Detalle de paciente</h1>
    <form [formGroup]="formularioRegistroPaciente" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="apellidoPaterno" class="form-label">Apellido paterno</label>
            <input type="text" class="form-control border-dark" id="apellidoPaterno" formControlName="apellidoPaterno" required>
        </div>
        <div class="mb-3">
            <label for="apellidoMaterno" class="form-label">Apellido materno</label>
            <input type="text" class="form-control border-dark" id="apellidoMaterno" formControlName="apellidoMaterno" required>
        </div>
        <div class="mb-3">
            <label for="nombres" class="form-label">Nombres</label>
            <input type="text" class="form-control border-dark" id="nombres" formControlName="nombres" required>
        </div>
        <div class="mb-3">
            <label for="fechaNacimiento" class="form-label">Fecha nacimiento</label>
            <input type="date" class="form-control border-dark" id="fechaNacimiento" formControlName="fechaNacimiento" required>
        </div>
        <div class="mb-3">
            <label for="sexo" class="form-label">Sexo</label>
            <select class="form-control border-dark" id="sexo" formControlName="sexo" required>
                <option value="masculino" selected>Masculino</option>
                <option value="femenino">Femenino</option>
                <option value="otro">Otro</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="procedencia" class="form-label">Procedencia</label>
            <input type="text" class="form-control border-dark" id="procedencia" formControlName="procedencia" required>
        </div>
        <div class="mb-3">
            <label for="fechaIngreso" class="form-label">Fecha ingreso</label>
            <input type="date" class="form-control border-dark" id="fechaIngreso" formControlName="fechaIngreso" required>
        </div>
        <div class="mb-3">
            <label for="idiomaHablado" class="form-label">Idioma hablado</label>
            <input type="text" class="form-control border-dark" id="idiomaHablado" formControlName="idiomaHablado" required>
        </div>
        <div class="mb-3">
            <label for="autoprescedenciaCultural" class="form-label">Autoprescedencia cultural</label>
            <input type="text" class="form-control border-dark" id="autoprescedenciaCultural" formControlName="autoprescedenciaCultural" required>
        </div>
        <div class="mb-3">
            <label for="ocupacion" class="form-label">Ocupación</label>
            <input type="text" class="form-control border-dark" id="ocupacion" formControlName="ocupacion" required>
        </div>
        <div class="mb-3">
            <label for="apoyoDecisionAsistenciaMedica" class="form-label">Apoyo decisión asistencia médica</label>
            <input type="text" class="form-control border-dark" id="apoyoDecisionAsistenciaMedica" formControlName="apoyoDecisionAsistenciaMedica" required>
        </div>
        <div class="mb-3">
            <label for="estadoCivil" class="form-label">Estado civil</label>
            <input type="text" class="form-control border-dark" id="estadoCivil" formControlName="estadoCivil" required>
        </div>
        <div class="mb-3">
            <label for="escolaridad" class="form-label">Escolaridad</label>
            <select class="form-control border-dark" id="sexo" formControlName="sexo" required>
                <option value="no estudio" selected>No estudio</option>
                <option value="primaria">Primaria</option>
                <option value="secundaria">Secundaria</option>
                <option value="bachillerato">Bachillerato</option>
                <option value="universidad">Universidad</option>
                <option value="post grado">Post grado</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="grupoSanguineo" class="form-label">Grupo sanguíneo</label>
            <input type="text" class="form-control border-dark" id="grupoSanguineo" formControlName="grupoSanguineo" required>
        </div>
        <div class="mb-3">
            <label for="ci" class="form-label">CI</label>
            <input type="text" class="form-control border-dark" id="ci" formControlName="ci" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control border-dark" id="email" formControlName="email" required>
        </div>
        <div class="mb-3">
            <label for="celular" class="form-label">Celular</label>
            <input type="tel" class="form-control border-dark" id="celular" formControlName="celular" required>
        </div>
        <div class="mb-3">
            <label for="diasSancion" class="form-label">Días de sanción</label>
            <input type="number" class="form-control border-dark" id="diasSancion" formControlName="diasSancion" required>
        </div>
        <div class="mb-3">
            <label for="edad" class="form-label">Edad</label>
            <input type="number" class="form-control border-dark" id="edad" formControlName="edad" required>
        </div>
        <div class="mb-3">
            <label for="residencia" class="form-label">Residencia</label>
            <input type="text" class="form-control border-dark" id="residencia" formControlName="residencia" required>
        </div>
        <div class="mb-3">
            <label for="codigoExpedienteClinico" class="form-label">Código expediente clínico</label>
            <input type="text" class="form-control border-dark" id="codigoExpedienteClinico" formControlName="codigoExpedienteClinico" required>
        </div>
        <div class="mb-3">
            <label for="imagen" class="form-label">Imagen</label>
            <input
            type="file"
            class="form-control"
            id="imagen"
            (change)="onImageChange($event)"
            accept="image/*"
            />
        </div>
        
        <button
            class="btn btn-success-hospital "
            type="submit"
        >
            Registrar
        </button>
    </form>
    
     
      
 </div>     