<div class="container mt-5">
    <h1 class="text-center p-3">Gestion notas de referencia</h1>
    <button
      class="btn btn-success-hospital"
      routerLink="/administrador/registro-nota-referencia"
    >
      Registrar nota de referencia
    </button>
    <ul class="list-group">
        <li *ngFor="let dato of notasReferencia; let i = index" [class.bg-color-blue-hospital]="i % 2 === 0" [class.text-white]="i % 2 === 0" class="p-3 list-group-item d-flex justify-content-between align-items-center">
          <p class="dato-info">
            Nota de referencia {{ dato.idNotaReferencia }}<br/>
            Fecha creacion: {{ dato.createdAt }} <br/>
            Fecha actualizacion: {{ dato.updatedAt }}<br/>
            Historia clinica: {{ dato.idHistoriaClinica }}<br/>
            Paciente propietario: {{ dato.pacientePropietario }}<br/>
            CI paciente propietario: {{ dato.ciPropietario }}<br/>

          </p>
          <div class="botones-opciones">
            <i class="fas fa-edit me-2" (click)="editarDato(dato.idReceta)"></i>
            <i class="fas fa-chevron-right me-2" (click)="verDetalles(dato.idReceta)"></i>
          </div>
        </li>
      </ul>
  </div>