<div class="container mt-5">
  <h1 class="text-center p-3">Gestion notas de referencia</h1>
  <app-formulario-filtrado-documentos
    [documentos]="notasReferencia"
    (documentosEvent)="handleNotasReferencia($event)"
  ></app-formulario-filtrado-documentos>
  <button
    class="btn btn-success-hospital"
    routerLink="/medico/registro-nota-referencia"
  >
    Registrar nota de referencia
  </button>
  <app-listado-documentos
    [documentos]="notasReferencia"
    tipoDocumento="Nota de referencia"
    [actualizarDocumento]="editarNotaReferencia"
    [verDetalleDocumento]="verDetallesNotasReferencia"
  ></app-listado-documentos>
</div>
