.contenedor-requisitos{
    width: 100%;
    background-color: var(--color2);
    min-height: 100vh;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
}
.requisitos{
    width: 100%;
    background-color: white;
}
.cards-requisitos{
    width: 80%;
    margin: 20px 10%;
}
.contenedor-banner{
    width: 100%;
    position: relative;
    min-height: 400px;
}
.contenedor-banner img{
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0%;
    size: cover;
}
.contenedor-banner .contenedor-titulo{
    position: absolute;
    height: 50%;
    top: 25%;
    left: 20%;
    background-color: rgba(255, 255, 255, 0.635);
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
