<form [formGroup]="formularioEspecialidad" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="nombre" class="form-label">Nombre</label>

    <input
      id="nombre"
      formControlName="nombre"
      type="text"
      class="form-control input-border-bottom"
      required
    />
  </div>

  <div class="mb-3">
    <label for="descripcion" class="form-label">Detalle</label>

    <textarea
      id="descripcion"
      formControlName="descripcion"
      class="form-control input-border-bottom"
      rows="4"
      required
    ></textarea>
  </div>

  <app-input-imagenes
    [imagenes]="imagenes"
    (imagenesEvent)="handleImagenes($event)"
  ></app-input-imagenes>

  <button type="submit" class="btn btn-success-hospital">GUARDAR</button>
</form>
