<main class="container mt-5 mb-5">
    <section class="bg-white p-4">
      <h1 class="text-center mb-4">Actualizar procedimiento de admision</h1>
  
      <app-foormulario-detalle-procedimiento
        [formularioProcedimiento]="formularioProcedimiento"
        [imagenes]="imagenes"
        (imagenesEvent)="handleImagenes($event)"
        [onSubmit]="onSubmit"
      >
      </app-foormulario-detalle-procedimiento>
      <app-boton-tipo-background ruta="administracion/gestion-pasos-procedimiento/3" titulo="Gestionar pasos procedimiento admision" clase="w-100p"/>
      <app-boton-tipo-background ruta="administracion/gestion-requisitos-procedimiento/3" titulo="Gestionar requisitos procedimiento admision" clase="w-100p"/>
    </section>
  </main>
  