<form [formGroup]="formularioUsuario" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="nombres" class="form-label">Nombres</label>
      <input
        id="nombres"
        formControlName="nombres"
        type="text"
        class="form-control input-border-bottom"
        required
      />
    </div>
  
    <div class="mb-3">
      <label for="ci" class="form-label">CI</label>
      <input
        id="ci"
        formControlName="ci"
        type="text"
        class="form-control input-border-bottom"
        required
      />
    </div>
  
    <div class="mb-3">
      <label for="direccion" class="form-label">Dirección</label>
      <input
        id="direccion"
        formControlName="direccion"
        type="text"
        class="form-control input-border-bottom"
        required
      />
    </div>
  
    <div class="mb-3">
      <label for="celular" class="form-label">Celular</label>
      <input
        id="celular"
        formControlName="celular"
        type="text"
        class="form-control input-border-bottom"
        required
      />
    </div>
  
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        id="email"
        formControlName="email"
        type="email"
        class="form-control input-border-bottom"
        required
      />
    </div>
  
    <div class="mb-3">
      <label for="grupoSanguineo" class="form-label">Grupo Sanguíneo</label>
      <input
        id="grupoSanguineo"
        formControlName="grupoSanguineo"
        type="text"
        class="form-control input-border-bottom"
        required
      />
    </div>
  
    <div class="mb-3">
      <label for="apellidoPaterno" class="form-label">Apellido Paterno</label>
      <input
        id="apellidoPaterno"
        formControlName="apellidoPaterno"
        type="text"
        class="form-control input-border-bottom"
        required
      />
    </div>
  
    <div class="mb-3">
      <label for="apellidoMaterno" class="form-label">Apellido Materno</label>
      <input
        id="apellidoMaterno"
        formControlName="apellidoMaterno"
        type="text"
        class="form-control input-border-bottom"
        required
      />
    </div>
  
    <div class="mb-3">
      <label for="fechaNacimiento" class="form-label">Fecha de Nacimiento</label>
      <input
        id="fechaNacimiento"
        formControlName="fechaNacimiento"
        type="date"
        class="form-control input-border-bottom"
        required
      />
    </div>
  
    <div class="mb-3">
      <label for="sexo" class="form-label">Sexo</label>
      <select
        id="sexo"
        formControlName="sexo"
        class="form-control input-border-bottom"
        required
      >
        <option value="">Seleccione</option>
        <option value="masculino">Masculino</option>
        <option value="femenino">Femenino</option>
      </select>
    </div>
  
    <div class="mb-3">
      <label for="estadoCivil" class="form-label">Estado Civil</label>
      <select
        id="estadoCivil"
        formControlName="estadoCivil"
        class="form-control input-border-bottom"
        required
      >
        <option value="">Seleccione</option>
        <option value="soltero">Soltero</option>
        <option value="casado">Casado</option>
        <option value="divorciado">Divorciado</option>
        <option value="viudo">Viudo</option>
      </select>
    </div>
  
    <div class="mb-3">
      <label for="edad" class="form-label">Edad</label>
      <input
        id="edad"
        formControlName="edad"
        type="number"
        class="form-control input-border-bottom"
        required
      />
    </div>
  
    <div class="mb-3">
      <label for="diasSancionPeticionFichaPresencial" class="form-label">Días de Sanción por Petición de Ficha Presencial</label>
      <input
        id="diasSancionPeticionFichaPresencial"
        formControlName="diasSancionPeticionFichaPresencial"
        type="number"
        class="form-control input-border-bottom"
        required
      />
    </div>
  
    <div class="mb-3">
      <label for="telefono" class="form-label">Teléfono</label>
      <input
        id="telefono"
        formControlName="telefono"
        type="text"
        class="form-control input-border-bottom"
        required
      />
    </div>
    <app-input-imagenes
        [imagenes]="imagenes"
        (imagenesEvent)="handleImagenes($event)"
    ></app-input-imagenes>
    <button type="submit" class="btn btn-success-hospital">GUARDAR</button>
  </form>